<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PAS/Dashboard.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'geochart', 'scatter', 'table']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{values|safe}});
        //Siempre se ven errores
        var options = {
          title: {{h_title|safe}} +' vs. '+ {{v_title|safe}},
          hAxis: {title: {{h_title|safe}}},
          vAxis: {title: {{v_title|safe}}},
          legend: 'none'
        };
        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        //Grafica 2
        var data2 = google.visualization.arrayToDataTable({{values2|safe}});
        var options2 = {
          title: {{h_title2|safe}} +' vs. '+ {{v_title2|safe}},
          hAxis: {title: {{h_title2|safe}}},
          vAxis: {title: {{v_title2|safe}}},
          legend: 'none'
        };
        var chart2 = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart2.draw(data2, options2);
      

      //Grafica 3
      var data3 = google.visualization.arrayToDataTable({{values3|safe}});
        //Siempre se ven errores
        var options3 = {
          title: {{h_title3|safe}} +' vs. '+ {{v_title3|safe}},
          hAxis: {title: {{h_title3|safe}}},
          vAxis: {title: {{v_title3|safe}}},
          legend: 'none'
        };
        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div3'));
        chart.draw(data3, options3);


      }
    </script>

  </head>
  <body>
    <h1>Dashboard</h1>
    <h2></h2>
    <h3>Chart 1</h3>
    <div id="chart_div" style="width: 800px; height: 500px;"></div>
    <h2></h2>
    <h3>Chart 2</h3>
    <div id="regions_div" style="width: 800px; height: 500px;"></div>
    <h2></h2>
    <h3>Chart 3</h3>
    <div id="chart_div3" style="width: 800px; height: 500px;"></div>
  </body>
</html>