<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'PAS/normalize.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'PAS/main.css' %}">
    <link rel="stylesheet" href="{% static 'PAS/our-team.css' %}">
    <title>Our team</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index'%}">
                    <img src="{% static 'PAS/src/img/pas-photos/paswhitelogotext.png' %} " alt="percussive arts society" width="60"
                        id="logo-pas" class="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Nuestro_equipo'%}">Our team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Estadisticas_globales'%}">Our players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Sobre_juego'%}">About the game</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link border-naranja dropdown-toggle" style="display: inline;" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User options
                            </a>
                            <span style="display: inline;">
                                <img src="{% static 'PAS/src/img/icons/user_icon.svg' %}" alt="icon of a person" height="30px"
                                    class="rounded-circle" id="user-icon">
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'Registrarse'%}">Log in</a></li>
                                <li><a class="dropdown-item" href="{% url 'Ingresar'%}">Sign in</a></li>
                                <li><a class="dropdown-item" href="{% url 'Estadisticas_personales'%}">Personal
                                    statistics</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout_user'%}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="title">
        <div class="container">
            <img id="background-image" src="{% static 'PAS/src/img/instruments/batery.jpg' %} " alt="drums">
            <div class="text-above">
                <h1>
                    Doors of drums
                </h1>
            </div>
        </div>
    </section>

    <main class="nosotros-persons">
        <div class="person-1">
            <h2>
                Sofia Margarita
            </h2>
            <div class="d-flex flex-row">
                <p class="p-2">
                    I am a computer science student at the Tecnológico de Monterrey, Mexico City campus. My interests are mobile and web development, along with data science.
                </p>
                <img class="p-2" src="{% static 'PAS/src/img/persons/ImagendeSofi.jpeg' %} " alt="icon of a person">
            </div>
        </div>

        <div class="person-2">
            <h2>
                Iván Álvarez
            </h2>
            <div class="d-flex flex-row-reverse">
                <p class="p-2">
                    Front-End Developer Student of the Engineering career in computer technologies, Mexico City campus. Interests: Web development and cybersecurity
                </p>
                <img class="p-2" src="{% static 'PAS/src/img/persons/FotodeIvan.jpeg' %}" alt="icon of a person">
            </div>
        </div>

        <div class="person-3">
            <h2>
                Isaac Jacinto
            </h2>
            <div class="d-flex flex-row">
                <p class="p-2">
                    Front-End Developer Student of the Engineering career in computer technologies, Mexico City campus. Interests: Web development and cybersecurity
                </p>
                <img class="p-2" src="{% static 'PAS/src/img/persons/ImagendeIsaac.jpeg' %}" alt="icon of a person">
            </div>
        </div>

        <div class="person-4">
            <h2>
                Luis Ernesto
            </h2>
            <div class="d-flex flex-row-reverse">
                <p class="p-2">
                    Desarrollador de videojuegos. Estudiante de la carrera de Ingeniería en tecnologías compuacionales campus ciudad de México.
                </p>
                <img class="p-2" src="{% static 'PAS/src/img/persons/FotodeNeto.jpeg' %}" alt="icon of a person">
            </div>
        </div>
    </main>

    <div class="container footer-div">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'index'%}" class="nav-link px-2">Doors of drums</a></li>
                <li class="nav-item"><a href="{% url 'Nuestro_equipo' %}" class="nav-link px-2">Our team</a></li>
                <li class="nav-item"><a href="{% url 'Estadisticas_globales'%}" class="nav-link px-2">Our players</a></li>
                <li class="nav-item"><a href="{% url 'Sobre_juego' %}" class="nav-link px-2">About the game</a>
                </li>
            </ul>
            <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
